<!-- Cards with media area -->

  
  <mat-card class="example-card mt-3">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>TVM</mat-card-title>
        <mat-card-subtitle style="  border-top-left-radius: 20px;text-align: left;
        border-bottom-right-radius: 20px;background-color:bisque;">Employee</mat-card-subtitle>
        <div class="img">
        <img mat-card-sm-image style ="border-radius: 50px;margin-left: 205px;color: white;
        " src="https://tse2.explicit.bing.net/th?id=OIP.88s7mWT_tX-5skSkZn7RfQHaE8&pid=Api&P=0" >
      </div>
      </mat-card-title-group>
    </mat-card-header>
    <p>Name:</p>
    <p>place:</p>
    <p>Phone:</p>

    <mat-card-content>
    </mat-card-content>
  </mat-card>
  
  <mat-card class="example-card" >
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title style="  border-top-left-radius: 20px;text-align: right;
        border-bottom-right-radius: 20px;background-color:bisque;">TVM</mat-card-title>
        <mat-card-subtitle>Employee</mat-card-subtitle>
        <img mat-card-sm-image style="border-radius: 50px;margin-left: 205px;color: white;" src="https://tse2.explicit.bing.net/th?id=OIP.88s7mWT_tX-5skSkZn7RfQHaE8&pid=Api&P=0" >
      </mat-card-title-group>
    </mat-card-header>
    <p>Name:{{name}}</p>
    <p>place:{{place}}</p>
    <p>Phone:{{phone}}</p>
    <mat-card-content>
    </mat-card-content>
  </mat-card>
  
  