<div class="side-menu">
        <div class="brand-name">
            <h1>Brand</h1>
        </div>
        <ul>
            <li><img src=""width='30' alt="">&nbsp;Teachers</li>
            <li><img src=""width='30' alt="">&nbsp;Schools</li>
            <li><img src=""width='30' alt="">&nbsp;Income</li>
            <li><img src=""width='30' alt="">&nbsp;Heil</li>
            <li><img src=""width='30' alt="">&nbsp;Settings</li>
            <li><img src=""width='30' alt="">&nbsp;Dashboard </li>
            <!-- <li>Teachers</li>
            <li>Schools</li>
            <li>Income</li>
            <li>Heil</li>
            <li>Settings</li>
            <li>Dashboard</li> -->
               
        </ul>
    </div>
    <div class="container">
        <div class="header">
            <div class="nav">
                <div class="search">
                   <input type="text" placeholder="search">
                   <button type="submit" src="" alt=""> </button> 

                    
                </div>
                <div class="user">
                    <a href="#" class="btn">Addnew</a>
            </div>
        </div>
        <div class="content">
            <div class="cards">
                <div class="card">
                    <div class="box">
                        <h1>1234</h1>
                        <h3>students</h3>
                    </div>
                    <div class="icon-case">
                        <img src="" alt="">
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <h1>1234</h1>
                        <h3>students</h3>
                    </div>
                    <div class="icon-case">
                        <img src="" alt="">
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <h1>1234</h1>
                        <h3>students</h3>
                    </div>
                    <div class="icon-case">
                        <img src="" alt="">
                    </div>
                </div>
                <div class="content-2">
                    <div class="recent payments">
                    
                    <div class="title">
                        <h2>recent payment</h2>
                        <a href="#" class="btn">view all</a>
                    </div>
                    <table>
                        <tr>
                            <th>name</th>
                            <th>school</th>
                            <th>amount</th>
                            <th>option</th>
                        </tr>
                        <tr>
                            <td>mani</td>
                            <td>TVM</td>
                            <td>size</td>
                            <td><a href="#" class="btn">view</a></td>
                        </tr>

                    </table>
                    <div class="new-student">
                        <div class="title">
                            <h2>new student</h2>
                            <a href="#" class="btn">view all</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>